$primaryColor: #282c34;
$secondaryColor: lightgray;
$linkColor: white;

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $secondaryColor;

  .App-logo {
    height: 7vmin;
    pointer-events: none;

    .left {
      margin-right: 30px;
    }
    .right {
      margin-left: 30px;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 10s linear;
    }
  }

  .App-header {
    background-color: $primaryColor;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $secondaryColor;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  menu {
    background-color: $secondaryColor;
    color: $primaryColor;
    font-size: 30px;
    margin:0px;
    height:60px;
    padding-top:20px;

    .item {
      margin: 20px;
      padding:20px;
    }
  }

  body {
    background-color: $primaryColor;
    color: $secondaryColor;
    border: solid 1px $primaryColor;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding:40px;
  }
}
