$primaryColor: #282c34;
$secondaryColor: lightgray;
$linkColor: white;

.App {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  background-image: url("../../background.jpg");
  background-size: 200vh;
  background-position-y: -230vh;
  font-family: monospace;
  font-size: 1.4em;

  .content {
    color: $secondaryColor;
    background-color: black;
    min-height: 80vh;
    opacity: 0.87;
    text-align: center;
    margin: auto;
  }
}
