$headerColor: #1d1e1e;
$primaryColor: #1d1e1e;
$secondaryColor: black;
$linkColor: white;

.App {
  text-align: center;
  min-height: 100vh;
  background-color: lighten($secondaryColor,10%);
  color:white;
  font-size:large;
}
