.app {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  background-image: url("../../background.jpg");
  background-size: 200vh;
  background-position-y: -230vh;
  background-position-x: -95px;
  font-family: monospace;
  font-size: large;
}
@media (max-width: 962px) {
  .app {
    background-size: 104vh;
    background-position-x: -95px;
  }
}
.app .content {
  color: lightgray;
  background-color: black;
  min-height: 80vh;
  opacity: 0.87;
  text-align: center;
  margin: auto;
}

.about {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
}
.about a {
  color: lightblue;
}
