.App {
  text-align: center;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: white;
  font-size: large;
}

.App-header .App-logo {
  height: 7vmin;
  pointer-events: none;
  margin: 10px;
}
.App-header .App-logo .left {
  margin-right: 30px;
}
.App-header .App-logo .right {
  margin-left: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-header .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
