.app {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  background-image: url("../../background.jpg");
  background-size: 200vh;
  background-position-y: -230vh;
  background-position-x: -95px;
  font-family: monospace;
  font-size: large;
}
@media (max-width: 962px) {
  .app {
    background-size: 104vh;
    background-position-x: -95px;
  }
}
.app .content {
  color: lightgray;
  background-color: black;
  min-height: 80vh;
  opacity: 0.87;
  text-align: center;
  margin: auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  background-color: black;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  color: lightgray;
  word-break: break-word;
  padding: 0 5px;
}
.App-header a {
  color: lightblue;
  font-size: large;
}
.App-header .App-logo {
  height: 7vmin;
  pointer-events: none;
}
.App-header .App-logo .left {
  margin-right: 30px;
}
.App-header .App-logo .right {
  margin-left: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-header .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
