.App {
  text-align: center;
  margin: auto;
  min-height: 100vh;
  background-image: url("../../background.jpg");
  background-size: 200vh;
  background-position-y: -230vh;
  font-family: monospace;
  font-size: 1.4em;
}
.App .content {
  color: lightgray;
  background-color: black;
  min-height: 80vh;
  opacity: 87%;
  text-align: center;
  margin: auto;
}

.home {
  max-width: 1000px;
  margin: auto;
  padding: 40px;
}
.home a {
  color: white;
}
