.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightgray;
}
.App menu {
  background-color: lightgray;
  color: #282c34;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}
.App menu .item {
  margin: 20px;
  padding: 20px;
}
.App body {
  background-color: #282c34;
  color: lightgray;
  border: solid 1px #282c34;
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding: 40px;
}

.services table,
.services th,
.services td {
  text-align: left;
  border: solid 2px lightgray;
  padding: 5px;
  margin: 10px;
}
