.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightgray;
}
.App .App-logo {
  height: 7vmin;
  pointer-events: none;
}
.App .App-logo .left {
  margin-right: 30px;
}
.App .App-logo .right {
  margin-left: 30px;
}
@media (prefers-reduced-motion: no-preference) {
  .App .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
.App .App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: lightgray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App menu {
  background-color: lightgray;
  color: #282c34;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}
.App menu .item {
  margin: 20px;
  padding: 20px;
}
.App body {
  background-color: #282c34;
  color: lightgray;
  border: solid 1px #282c34;
  text-align: center;
  margin: auto;
  font-size: 20px;
  padding: 40px;
}

.service-wizard button {
  height: 60px;
  margin-top: 20px;
  width: 200px;
  font-size: 20px;
  color: #282c34;
}
